.main{
    border: 2px solid gray;
    width: 200px;
    margin: 0 auto;
    background-color: rgb(30, 241, 213);
    border-radius: 4px;
    margin-top: 1px;
    
}
.output{
    width: 96%;
    background-color:rgb(245, 245, 28) ;
    color:black;
    border-radius: 3px;
}
.btn{
    background-color: rgb(128, 128, 128);
    width: 45px;
    margin: 1px;
    border-radius: 3px;

}
.clearBtn{
    margin-top: 7px;
    background-color: rgb(236, 73, 73);
    width: 100%;
    border-radius: 3px;
}
.btnhalf{
    background-color:rgb(236, 73, 73) ;
    width: 61px;
    margin: 1px;
    border-radius: 3px;
}